<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
			<h1>Editing Auction</h1>
		</div>
	</div>

	<%= render 'form' %>


	<div class="panel-footer">
		<%= link_to 'Show', @auction %> |
		<%= link_to 'Back', auctions_path %>
	</div>
</div>

