	<nav class="top-navigation">
		<div class="content">
			

			<%= image_tag("ZaarLogo1.svg", :alt => "rss feed", :class => "logo", :width => 150) %>
			<ul class="links">
				<!--
				<li class="active">Meet SickName</li>
				-->
				<% if user_signed_in? %>
          <li><%= link_to "Account Settings", edit_user_registration_path %></li>
          <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
        <% else %>
					<li>What?</li>
					<li>Why?</li>
					<li>Who?</li>
          <li><%= link_to "Log in", new_user_session_path %></li>
        <% end %>
			</ul>
		</div>
		</nav>