<section class="introduction">
    <div class="content">
      <h1>Introducing Zaar</h1>
      <h3>College is expensive, let's fix that</h3>
      <div class="buttons">
        <%= link_to "Sign up", new_user_registration_path, class: "signup-button" %>
      </div>
    </div>
  </section>

  <section class="who">
    <div class="content">
      <h2>Meet our Zaar</h2>
      <div class="flexdiv">
        <div class="devices">
          <img width="150" height="150" src="assets/me.jpg" alt="Mitch Grove">
          <div class="caption">
            <h3>Mitch Grove</h3>
            <p>Freelance Web Developer who's all about the aesthetic</p>
          </div>
        </div>
        <div class="devices">
          <img width="150" height="150" src="assets/john.jpg" alt="John Stucky">
          <div class="caption">
            <h3>John Stucky</h3>
            <p>Algorythmic expert who knows more than all of us</p>
          </div>
        </div>
        <div class="devices">
          <img width="150" height="150" src="assets/ryan.jpg" alt="Ryan Thomas">
          <div class="caption">
            <h3>Ryan Thomas</h3>
            <p>Suave desginer who keeps us on track</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="what">
    <div class="content">
      <p class="about-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit cumque ullam consectetur quo? Nisi hic, cum, possimus laborum reprehenderit a officiis, dolores, similique sed quos natus tempore doloribus ut molestiae!</p>
    </div>
  </section>

  <section class="wh">
    <div class="content">
      <p class="about-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit cumque ullam consectetur quo? Nisi hic, cum, possimus laborum reprehenderit a officiis, dolores, similique sed quos natus tempore doloribus ut molestiae!</p>
    </div>
  </section>

  <footer class="social">
    <div class="content">
      <hr>
      <h5>Join us on</h5>
        <ul class="icons">
            <li class="twitter">
                <i class="fa fa-twitter"></i>
            </li>
            <li class="facebook">
                <i class="fa fa-facebook"></i>
            </li>
            <li class="instagram">
                <i class="fa fa-instagram"></i>
            </li>
        </ul>
        <span class="copy">
                © SickName Inc.
            </span>
    </div>
</footer>